/*Переменные*/
:root {
    --h2-color: #2C3333;
    --h2-color-notactive: #537FE7;
}

/*Логика*/
.mem-block, img{
    display: none;
    z-index: 2;
}

.min-height {
    height: 2.5rem;
    border-radius: 0.7rem;
    border-bottom: solid #635985 0.15rem;
}

.mem-input {
    appearance: none;
    position: absolute;
}

.mem-input:checked ~ .mem-block, img{
    display: block;
    animation: show-1 0.3s ease-out;
}

.mem-title:hover ~ .mem-block, img{
    display: block;
    animation: show-1 0.3s ease-out;
}

.min-height::after {
    content: '▼';
    color: var(--h2-color-notactive);
    position: absolute;
    margin-left: 0.5rem;
    margin-top: 0.2rem;
}

.mem-input:checked + .min-height::after {
    content: '▲';
    color: var(--h2-color);
    margin-left: 0.5rem;
}

.block:hover .min-height::after {
    content: '▲';
    color: var(--h2-color);
}

/*Анимация*/
@keyframes show-1 {
    from { height: 0rem; }
    to { height: 15rem; }
}

/*Стиль*/
main {
    width: 47rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #ECF2FF;
    padding: 0.2rem 1.5rem 0.2rem 1.5rem;
    border-radius: 0.7rem;
    margin-top: 1.5rem;
}

.block {
    margin-bottom: 1.5rem;
    cursor: pointer;
    position: relative;
    padding: 1rem 0 0 0;
    background-color: #E3DFFD;
    border-radius: 0.7rem;
}

img {
    height: 15rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    border-radius: 0.7rem;
}

.mem-block {
    height: 16rem;
}

.mem-title {
    display: block;
    cursor: pointer;
    position: absolute;
    height: 100%;
    top: 0rem;
    width: 47rem;
}

h2 {
    display: inline;
    font-family: sans-serif;
    font-size: 1.3rem;
    font-weight: 100;
    color: var(--h2-color-notactive);
    vertical-align: middle;
    margin-left: 1rem;
    top: 1rem;
}

h1 {
    font-family: sans-serif;
    font-family: sans-serif;
    font-size: 2rem;
    color: var(--h2-color);
    margin-left: 1rem;
}


